@charset "utf-8";

input[type=radio] {
	display: none; /* ラジオボタンを非表示にする */
}

input + label {
	background: var(--setting-color-bg);
	color: var(--setting-color-fg);
	border-style: solid;
	border-color: var(--setting-color-fg);
	cursor: pointer;
	font-size: calc(var(--default-LchColorWheel-wheelDiameter) - 13px);
	padding: 0 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
input + label:hover {
	background: var(--setting-color-bg-hover);
	color: var(--setting-color-fg-hover);
}
input:checked + label {
	background: var(--setting-color-bg-checked);
	color: var(--setting-color-fg-checked);
}
div.dropdown-btn ul li:first-child label {
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
}
div.dropdown-btn ul li:last-child label {
	border-left: 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}
div.dropdown-btn ul{
	float: right;
	font-size: 1.0em;
	list-style:none;
}
div.dropdown-btn ul li{
	float: left;
	text-align: center;
	text-decoration: none;
	display: block;
	cursor: pointer;
	font-size: calc(var(--default-LchColorWheel-wheelDiameter) - 16px);
}

